/*Обнуление*/ 
*{padding: 0; margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
/*------------------*/

h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 50px;
}
body {
    margin: 0;
    font: 400 20px/23px Roboto, sans-serif;
    color: #fff;
}
select, input {
    color: #fff;
    background-color: #273795;
    border-radius: 4px;
    padding: 0 0 0 15px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 40px;
}
.formcontainer {
    padding: 0 2% 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.form{
    position: relative;
    max-width: 1360px;
    width: 100%;
    background-color: #3748AA;
    padding: 100px 125px;
    margin: 50px;
}
.form::before {
    position: absolute;
    content: '';
    border-style: solid;
    border-width: 40px 0 0 40px;
    border-color: transparent transparent transparent #3748AA;
    left: 125px;
    top: -40px;
    align-self: flex-start;
}
#ent {
    max-width: 160px;
}
#dep {
    max-width: 160px;
}
.field {
    display: flex;
    flex-direction: column;
}

.field label {
    margin-bottom: 10px;
}
.fieldset {
    display: flex;
}
.fieldset + .fieldset {
    margin-top: 30px;
}
.cell {
    flex: 1 1 0;
}
.cell + .cell {
    margin: 0 0 0 30px;
}
@media screen and (max-width: 1500px) {
    .fieldset {
        flex-direction: column;
    }
    .fieldset + .fieldset {
        margin-top: 0;
    }
    .cell + .cell {
        margin: 30px 0 0 0;
    }
}
.actions {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.result {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 4px;
}
.result-value {
    font-weight: 500;
    font-size: 30px;
    color: #ff6700;
    margin-left: 40px;
}
button {
    border-radius: 4px;
    padding: 20px 30px;
    color: #fff;
    box-shadow: 0 20px 40px #0b1a73;
    cursor: pointer;
}
.result + .button {
    margin: 20px 0 0 0px;
}
button.primary {
    background-color: #0BAF4F;
}
