.username {
    display: inline-block;
    margin-bottom: 30px;
    border-bottom: 3px solid;
    line-height: 1.5;
}
#ber {
    max-width: 156px;
}
#count {
    max-width: 350px;
}
.field {
    display: flex;
    flex-direction: column;
}

.field label {
    margin-bottom: 10px;
}
.fieldset {
    display: flex;
}
.cell {
    flex: 1 1 0;
}
.cell + .cell {
    margin: 0 0 0 30px;
}
@media screen and (max-width: 1500px) {
    .fieldset {
        flex-direction: column;
    }
    .fieldset + .fieldset {
        margin-top: 0;
    }
    .cell + .cell {
        margin: 30px 0 0 0;
    }
}
.rectangle {
    margin-top: 40px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
}
.buttons {
    display: flex;
    justify-content:flex-end;
    margin-top: 45px;
}
.end + .next {
    margin: 0 0 0 30px;
}
.end {
    width: 189.4px;
    height: 61.17px;
    border-radius: 4px;
    background: #3748AA;
    border: 1px solid #7182ED;
    box-shadow: 0px 20px 40px #0B1A73;
}
.next {
    width: 189.76px;
    height: 61.17px;
    border-radius: 4px;
    background-color: #0BAF4F;
    box-shadow: 0px 20px 40px #0B1A73;
}
h6 {
    margin: 40px 0 0 65px;
}
.row {
    display: flex;
    margin-top: 20px;
    margin-left: 65px;
}
.mid {
    margin-bottom: 10px;
}
.toprow + .toprow {
    margin-left: 60px;
}
.result {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 50px 0 40px 65px;
}
.result-value {
    font-weight: 500;
    font-size: 30px;
    color: #ff6700;
    margin-left: 123px;
}